<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= @language.photo_url %>);">
  <div class="container">
    <br>
    <br>
    <% if @language.language_name == "Spanish" %>
      <center><h1>Aprende español con tu amigo Lingo</h1></center>
    <% elsif @language.language_name == "French" %>
      <center><h1>Apprenez le français avec votre Lingo Buddy</h1></center>
    <% elsif @language.language_name == "Italian" %>
      <center><h1>Impara l'italiano con il tuo amico Lingo</h1></center>
    <% elsif @language.language_name == "German" %>
      <center><h1>Lernen Sie Deutsch mit Ihrem Lingo Buddy</h1></center>
    <% elsif @language.language_name == "Korean" %>
      <center><h1>링고 친구와 함께 한국어 배우기</h1></center>
    <% elsif @language.language_name == "Japanese" %>
      <center><h1>リンゴバディと一緒に日本語を学ぶ</h1></center>
    <% elsif @language.language_name == "Russian" %>
      <center><h1>Изучайте русский язык c вашим Lingo Buddy</h1></center>
    <% elsif @language.language_name == "Hindi" %>
      <center><h1>अपने लिंगो बडी के साथ हिंदी सीखें</h1></center>
    <% else %>
      <center><h1>Learn English with your Lingo Buddy</h1></center>
    <% end %>
    <br>
    <br>
  </div>
</div>

<a href="#sec-2">
      <div class="scroll-down"></div>
    </a>


<div class="lang-banner">
  <div class="container lang-content">
    <% if @language.language_name == "Spanish" %>
      <center><h1>Hablar es el camino más rápido hacia la fluidez.</h1></center>
    <% elsif @language.language_name == "French" %>
      <center><h1>Parler est le moyen le plus rapide de parler couramment</h1></center>
    <% elsif @language.language_name == "Italian" %>
      <center><h1>Parlare è il modo più veloce per acquisire scioltezza</h1></center>
    <% elsif @language.language_name == "German" %>
      <center><h1>Sprechen ist der schnellste Weg zum Sprachfluss</h1></center>
    <% elsif @language.language_name == "Korean" %>
      <center><h1>말하기는 유창하게 하는 가장 빠른 방법이다</h1></center>
    <% elsif @language.language_name == "Japanese" %>
      <center><h1>スピーキングは流暢さへの最速の方法です</h1></center>
    <% elsif @language.language_name == "Russian" %>
      <center><h1>Говорение — самый быстрый способ заговорить</h1></center>
    <% elsif @language.language_name == "Hindi" %>
      <center><h1>धाराप्रवाह बोलने का सबसे तेज़ तरीका बोलना है</h1></center>
    <% else %>
      <center><h1>Speaking is the fastest way to fluency</h1></center>
    <% end %>
    <br>

    <% if @language.language_name == "Spanish" %>
      <center><h6>Escuche, mejore su pronunciación y practique hablar un idioma extranjero con hablantes nativos, sin importar dónde se encuentre.</h6></center>
    <% elsif @language.language_name == "French" %>
      <center><h6>Écoutez, améliorez votre prononciation et entraînez-vous à parler une langue étrangère avec des locuteurs natifs, où que vous soyez.</h6></center>
    <% elsif @language.language_name == "Italian" %>
      <center><h6>Ascolta, migliora la tua pronuncia ed esercitati a parlare una lingua straniera con madrelingua, indipendentemente da dove ti trovi.</h6></center>
    <% elsif @language.language_name == "German" %>
      <center><h6>Hören Sie zu, verbessern Sie Ihre Aussprache und üben Sie das Sprechen einer Fremdsprache mit Muttersprachlern – egal wo Sie sind.</h6></center>
    <% elsif @language.language_name == "Korean" %>
      <center><h6>어디에 있든 원어민과 함께 듣고, 발음을 개선하고, 외국어 말하기를 연습하세요.</h6></center>
    <% elsif @language.language_name == "Japanese" %>
      <center><h6>どこにいても、聞き取り、発音を改善し、ネイティブスピーカーと外国語を話す練習をします。</h6></center>
    <% elsif @language.language_name == "Russian" %>
      <center><h6>Слушайте, улучшайте свое произношение и практикуйтесь в разговоре на иностранном языке с носителями языка — где бы вы ни находились.</h6></center>
    <% elsif @language.language_name == "Hindi" %>
      <center><h6>सुनो, अपने उच्चारण में सुधार करो, और देशी वक्ताओं के साथ एक विदेशी भाषा बोलने का अभ्यास करो - चाहे आप कहीं भी हों।</h6></center>
    <% else %>
      <h6>Listen, improve your pronunciation, and practice speaking a foreign language with native speakers - no matter where you are.</h6>
    <% end %>
    <br>
    <br>
  </div>
</div>


<center><div class="teachers-heading pt-4 mb-0" id="sec-2">
<h1 style="color:white"><%= "Top #{@language.language_name} Speaking Lingo Buddies" %></h1>
<%# <center><h1 style="color:white">Top Lingo Buddies</h1></center> %>
<center><div class="container languages-grid mb-0 pb-4">
  <div class="card-languages-grid mb-2 mt-3 pr-0">
    <% @filtered_users[0..3].each do |user| %>
      <% if user.teacher %>
        <div class="card" style="width: 16rem; border-radius:30px;">
          <img src="<%= user.photo_url %>" class="card-img-top" alt="Profile Picture" style="border-radius:30px;">
          <% end %>
          <div class="mt-3"><h5 style="color:black" class="card-title mt-2"><%= link_to "#{user.first_name.capitalize} #{user.last_name.capitalize}", user_path(user)%></h5></div>
          <div class="card-body">
            <% ratings = [] %>
            <% user.reviews.each do |review| %>
              <% ratings << review.rating %>
            <% end %>
            <% average_rating = ratings.inject{ |sum, el| sum + el }.to_f / ratings.size.round %>
            <% average_rating %>
            <% if average_rating == 1  %>
              <center><span class="fa fa-star checked"><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></span>
              <br>
              <br>
            <% elsif average_rating <= 2  %>
              <center><span class="fa fa-star checked"><i class="fa fa-star checked" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></span>
              <br>
              <br>
            <% elsif average_rating <= 3  %>
              <center><span class="fa fa-star checked"><i class="fa fa-star checked" aria-hidden="true"></i><i class="fa fa-star checked" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></span>
              <br>
              <br>
            <% elsif average_rating <= 4 %>
              <center><span class="fa fa-star checked"><i class="fa fa-star checked" aria-hidden="true"></i><i class="fa fa-star checked" aria-hidden="true"></i><i class="fa fa-star checked" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></span>
              <br>
              <br>
            <% elsif average_rating <= 5 %>
              <center><span class="fa fa-star checked"><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span></span>
              <br>
              <br>
            <% elsif user.reviews.empty? %>
              <center><em><h6>Not enough reviews yet</h6></em>
              <br>
            <% else %>
          <% end %>
            <h6><b>Location: </b><%= "#{user.location}" %></h6>
            <h6><b>Rate: </b><%= "£#{user.rate}" %>/hour</h6>
          </div>
          <%# <%=link_to "Find out more".html_safe, user_path(user), class: "mt-auto btn btn-primary mb-2"%>
        </div>
      <% end %>
    </div>
  </div>
