<% if my_bookings.present? %>
  <center><h1 style="color:black">Bookings</h1></center>
    <div class="container mt-5 mb-5">
      <div class="cards">
        <% my_bookings.each do |booking| %>
          <div class="card mb-5">
            <div class="card-body" style="width:700px" >
              <h3>Upcoming Booking with <%= booking.user_teacher[:first_name] %> <%= booking.user_teacher[:last_name] %></h3>
              <h5><em>Language</em>: <%= booking.user_teacher[:languages] %></h5>
              <h5 class="card-title"><em>Date & Time</em>: <%="#{booking.start_date} at #{booking.time}" %></h5>
              <h5 class="card-title"><em>Rate</em>: £<%= "#{booking.user_teacher[:rate]}" %>/hour</h5>
              <% if booking.confirmed? %>
                <h5 class="card-title"><em>Status</em>: Confirmed  ✅</h5>
                <% if booking.chatrooms.first.nil? %>
                <%= simple_form_for [booking, chatroom] do |f| %>
              <div class="body d-flex justify-content-between m-3 ">
                <%= f.submit "Start a chat with your Buddy!", class: "btn btn-primary mb-3" %>
              </div>
                <% end %>
                <% else %>
              <div class="body d-flex justify-content-between m-3 ">
                <%= link_to "Go to the chat with your Lingo Buddy", booking_chatroom_path(booking, booking.chatrooms.first), class: "btn btn-primary mb-3 center" %>
                <% end %>
              </div>
              <% else %>
                <h5 class="card-title"><em>Status</em>: Unconfirmed ❌</h5>
              <% end %>
              <div class="body d-flex justify-content-between m-3 ">
              </div>
              <%= link_to "Cancel this booking", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this booking?"}, class: "btn btn-danger" %>
            </div>
          </div>
        <% end %>
  <% else %>
    <br>
    <br>
    <center><%= link_to "No bookings! Find a Lingo Buddy", users_path, class: "btn-lingo-buddy-green"%></center>
  <% end %>
  </div>
</div>
