<br>
<div class="container">
  <% if current_user.teacher? == false %>
    <h3>Become a Lingo Buddy! ⭐️ </h3>
  <% else %>
    <h3>Update Profile Details ✍️ </h3>
  <% end %>
    <div class="container">
      <%= simple_form_for [@user] do |f| %>
        <%= f.input :languages %>
        <%= f.input :location %>
        <%= f.input :rate %>
        <%= f.input :photo, as: :file %>
        <%# <%= f.input :photo_url %>
        <%# <%= f.association :user, label_method: :first_name %>
        <%= f.submit "Update", class: "btn btn-primary" %>
      <% end %>
    </div>
</div>
