<br>
<div class="container">
  <h3><%= "#{@user.first_name}, Become a Lingo Buddy!"%></h3>
  <%= simple_form_for [@user] do |f| %>
    <%= f.input :languages %>
    <%= f.input :bio %>
    <%= f.input :location %>
    <%= f.input :rate %>
    <%= f.input :photo, as: :file %>
    <%# <%= f.input :photo_url %>
    <%# <%= f.association :user, label_method: :first_name %>
    <%= f.submit "Update", class: "btn btn-primary" %>
  <% end %>
</div>
