<div class="index-box">
      <div class="container-search">
          <h1>Search by language/location</h1>
          <%= form_tag users_path, method: :get, class:"d-flex" do %>
            <%= text_field_tag :query,
                      params[:query],
                      class: "form-control",
                      placeholder: "Find your teacher"
            %>
            <%= submit_tag "Search", class: "btn btn-primary" %>
          <% end %>
      </div>
        <div class="teachers-heading mt-4">
          <center><h1>Available Teachers</h1></center>
        </div>
<div class="background-image">
  
</div>
<div class="container card-map">
  <div class="container card-grid mb-2 mt-5">
    <% @users.shuffle.each do |user| %>
      <% if user.teacher %>
        <div class="card" style="width: 16rem;">
          <img src="<%= user.photo_url %>" class="card-img-top" alt="Profile Picture">
          <h5 class="card-title mt-2"><%= link_to "#{user.first_name.capitalize} #{user.last_name.capitalize}", user_path(user)%></h5>
          <div class="card-body">
            <p><b>Languages Spoken: </b><%= "#{user.languages}" %></p>
            <p><b>Location: </b><%= "#{user.location}" %></p>
            <p><b>Rate: </b><%= "$#{user.rate}" %></p>
          </div>
          <%=link_to "Find out more".html_safe, user_path(user), class: "mt-auto btn btn-primary mb-2"%>
        </div>
      <% end %>
    <% end %>
  </div>

  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
