<div class="background-image">

<div class="container card-show mt-0 mb-0">
  <div class="container">
    <h1>Teacher Details</h1>
    <div class="card" style="width: 32rem;">
      <img src="<%= @user.photo_url %>" class="card-img-top" alt="Profile Picture">
      <h5 class="card-title mt-2"><%= link_to "#{@user.first_name.capitalize} #{@user.last_name.capitalize}"%></h5>
      <div class="card-body">
        <p><b>Languages Spoken: </b><%= "#{@user.languages}" %></p>
        <p><b>Location: </b><%= "#{@user.location}" %></p>
        <p><b>Rate: </b><%= "$#{@user.rate}" %></p>
      </div>
    </div>
  </div>

  <div class="container">
  <h1 class='mb-3 text-primary display-6 text-black'><strong>Send Booking Request</strong></h1>
  <%= simple_form_for ([@user, @booking]) do |f| %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :time, as: :time, html5: true %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
  </div>
</div>
