<div class="background-image-show">

<div class="container card-show mt-0 mb-0">
  <img src="<%= @user.photo_url %>" class="card-img-top-show mt-5 mb-5" alt="Profile Picture">
  <div class="container mb-5 mt-5">
    <div class="cards" style="width: 32rem;">
      <div class="card-body">
        <h1 style="color:black"><strong><%= "#{@user.first_name.capitalize} #{@user.last_name.capitalize}"%></strong></h1>
        <center><h4><b>Languages Spoken: </b><%= "#{@user.languages}" %></h4></center>
        <h4><b>Location: </b><%= "#{@user.location}" %></h4>
        <h4><b>Rate: </b><%= "£#{@user.rate}" %>/hour</h4>
      </div>
    </div>
  </div>

  <% if current_user != @user %>
    <div class="container">
      <h5 style="color:black">Send Booking Request</h5>
      <%= simple_form_for ([@user, @booking]) do |f| %>
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :time, as: :time %>
        <p><%= f.button :submit, class: 'btn btn-primary' %></p>
      <% end %>
    <% else %>
    <% end %>
  </div>
</div>
