<div class="background-image-show">

<div class="container card-show mt-0 mb-0">
  <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, class: "card-img-top-show mt-5 mb-5", crop: :fill %>
  <% else %>
  <img src="<%= @user.photo_url %>" class="card-img-top-show mt-5 mb-5" alt="Profile Picture">
  <% end %>
  <div class="container mb-5 mt-5">
    <div class="cards" style="width: 32rem;">
      <div class="card-body">
        <h1 style="color:black"><strong><%= "#{@user.first_name.capitalize} #{@user.last_name.capitalize}"%></strong></h1>
        <center><h4><b>Languages Spoken: </b><%= "#{@user.languages}" %></h4></center>
        <h4><b>Location: </b><%= "#{@user.location}" %></h4>
        <h4><b>Rate: </b><%= "£#{@user.rate}" %>/hour</h4>
      </div>
    </div>
  </div>

  <% if current_user != @user %>
    <div class="container">
      <h5 style="color:black">Send Booking Request</h5>
      <%= simple_form_for ([@user, @booking]) do |f| %>
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :time, as: :string, placeholder: 'Suggest a time' %>
        <p><%= f.button :submit, class: 'btn btn-primary' %></p>
      <% end %>
    <% else %>
    <% end %>
  </div>
</div>
</div>
  <hr>
   <div class="container">
    <center><h4><b>More About <%= "#{@user.first_name}"%></b></h4></center>
    <p><%= "#{@user.bio}" %></p>
  </div>

  <div class="re">
    <center><h4><b>More About <%= "#{@user.reviews}"%></b></h4></center>
    <p><%= "#{@user.bio}" %></p>
  </div>
<br>
<br>
<br>
<br>
<br>
    <div class="container card-show mt-0 mb-0">
      <div class="container">
        <h1><%= pluralize @user.reviews.size, "review" %></h1>
        <h4 style="color:black"><%= "Name: #{@user.first_name}" %></h4>
        <h4 style="color:black"><%= "Location: #{@user.location} "%></h4>
          <div>
            <% if @user.reviews.blank? %>
              <strong>Be the first to leave a review for <%= @user.first_name %></strong>
            <% else %>
              <% @user.reviews.each do |review| %>
                  <b><%= "Comments: #{review.content} "%></b>
                  <b><%= "Ratings: #{review.rating} "%></b>
              <% end %>
            <% end %>
          </div>
      </div>
        <div class="container" style="width: 600px">
          <%= simple_form_for([@user, @review]) do |f| %>
            <%= f.input :content %>
            <%= f.input :rating %>
            <%= f.button :submit, class: "btn btn-primary"  %>
            <%= link_to "Back to all teachers", users_path, class: "btn btn-primary" %>
          <% end %>
        </div>
