<div class="background-image-show" style="background-color:rgb(80, 131, 118)">

<div class="container card-show mt-0 mb-0">
  <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, class: "card-img-top-show mt-5 mb-5", crop: :fill %>
  <% else %>
  <img src="<%= @user.photo_url %>" class="card-img-top-show mt-5 mb-5" alt="Profile Picture">
  <% end %>
  <div class="container mb-5 mt-5">
    <div class="cards" style="width: 32rem;">
      <div class="card-body">
        <h1 style="color:white"><strong><%= "#{@user.first_name.capitalize} #{@user.last_name.capitalize}"%></strong></h1>
        <center><h4><b>Languages Spoken: </b><%= "#{@user.languages}" %></h4></center>
        <h4><b>Location: </b><%= "#{@user.location}" %></h4>
        <h4><b>Rate: </b><%= "£#{@user.rate}" %>/hour</h4>
      </div>
    </div>
  </div>

  <% if current_user != @user %>
    <div class="container">
      <h5 style="color:white">Send Booking Request</h5>
      <%= simple_form_for ([@user, @booking]) do |f| %>
        <%= f.input :start_time, as: :datetime, html5: true %>
        <%= f.input :end_time, as: :datetime, html5: true %>
        <%= f.button :submit, "Submit Booking Request", class: "btn-lingo-buddy search-btn m-1", style:"color:white; background-color:rgb(211, 120, 84)"%>
      <% end %>
    <% else %>
    <% end %>
  </div>
</div>
</div>
</div>
<div class="background-review pt-3 pb-3" style="background-color:rgb(239, 238, 238)">
  <div class="container">
    <center><h3 style="color:black"><b>More About <%= "#{@user.first_name}"%></b></h3></center>
    <center><p style="color:black"><%= "#{@user.bio}" %></p></center>
    <hr>
  </div>

<center><h3 style="color:black"><b>Reviews</b></h3></center>
  <div class="container"  style="width: 600px; color:black">
    <% if @user.reviews.blank? %>
      <center><h3 style="color:black"><strong>Be the first to leave a review for <%= @user.first_name %></strong></h3></center>
      <div class="container">
      <%= simple_form_for([@user, @review]) do |f| %>
        <%= f.error_notification %>
        <%= f.input :content, :label => 'Review', prompt: "Enter your review" %>
        <%= f.input :rating, :collection => ["1", "2", "3", "4", "5"],
        :input_html => {:class => 'selectpicker'}, :label => 'Rating', prompt: "Select Rating out of 5" %>
        <%= f.button :submit, "Add your review", class: "btn-lingo-buddy-white", style:"color:white; background-color:rgb(127, 173, 160)"%>
        <%= link_to "Back to all teachers", users_path, class: "btn btn-primary" %>
      <% end %>
    </div>
    <% else %>
  </div>
  <div class="container">
      <% @user.reviews.each do |review| %>
        <p><b><%= "Review from #{review.name} "%></p></b>
        <% if review.rating == 1  %>
          <span class="fa fa-star checked"></span><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
        <% elsif review.rating == 2  %>
          <span class="fa fa-star checked"></span><i class="fa fa-star checked" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
        <% elsif review.rating == 3  %>
          <span class="fa fa-star checked"></span><i class="fa fa-star checked" aria-hidden="true"></i><i class="fa fa-star checked" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
        <% elsif review.rating == 4 %>
          <span class="fa fa-star checked"></span><i class="fa fa-star checked" aria-hidden="true"></i><i class="fa fa-star checked" aria-hidden="true"></i><i class="fa fa-star checked" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
        <% elsif review.rating == 5 %>
          <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
        <% else %>
        <% end %>
        <p><%= "#{review.content}"%></p>
        <hr>
      <% end %>
    </div>
    <div class="container">
      <center><h3 style="color:black"><strong>Leave a review for <%= @user.first_name %></strong></h3></center>
      <%= simple_form_for([@user, @review]) do |f| %>
        <%= f.input :content, :label => 'Review', prompt: "Enter your review",  placeholder: "Enter your review" %>
        <%= f.input :rating, :collection => ["1", "2", "3", "4", "5"],
        :input_html => {:class => 'selectpicker'}, :label => 'Rating', prompt: "Select Rating out of 5" %>
        <%= f.button :submit, "Add your review", class: "btn-lingo-buddy-white", style:"color:white; background-color:rgb(127, 173, 160)"%>
       <center> <%= link_to "Back to all Lingo Buddies", users_path, class: "btn-lingo-buddy-green", style:"color:white; background-color:rgb(127, 173, 160)" %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
