<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand mt-2" href="/">
      <h3>Lingo Buddy</h3>
    </a>

    <div class="index-box", id="search">
      <%= form_tag users_path, method: :get, class:"d-flex" do %>
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search by language or location" %>
        <%= submit_tag "Search", class: "btn-lingo-buddy" %>
      <% end %>
    </div>

     <div class="dropdown">
      <button class="btn-lingo-buddy me-3" style="background-color:rgb(94, 153, 137)">Languages</button>
      <div class="dropdown-content">
        <% @languages.each do |lang| %>
          <%= link_to lang.language_name, language_path(lang, language_name: lang.language_name), class: "dropdown-item" %>
        <% end %>
      </div>
    </div>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
           <% if user_signed_in? %>
            <div class="dropdown">
              <%= image_tag "icon10.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-content">
                <a class="dropdown-item" href="/bookings">My Bookings</a>
                <% if current_user.teacher? == false %>
                  <a class="dropdown-item" href=<%="http://localhost:3000/users/#{current_user.id}/edit"%>>Become a Lingo Buddy!</a>
                <% else %>
                  <% x = "http://localhost:3000/users/#{current_user.id}/edit" %>
                  <% if request.original_url == x %>
                    <a class="dropdown-item" href=#>My Profile</a>
                  <% else %>
                    <a class="dropdown-item" href=<%="http://localhost:3000/users/#{current_user.id}/edit"%>>My Profile</a>
                  <% end %>
                <% end %>
                <a class="dropdown-item" href="/users/sign_out">Sign Out</a>
              </div>
            </div>
            <% else %>
              <%= link_to "Log In", new_user_session_path, class:"btn-lingo-buddy-green me-3 log-in" %>
              <%= link_to "Sign Up", new_user_registration_path, class:"btn-lingo-buddy-white me-5 sign-up" %>
            <% end %>
          </li>
      </ul>
    </div>
  </div>
</div>
