<div>
  <div class="home-container mt-3">
      <div class="text-box">
        <h1>Welcome to LingoBuddy</h1>
      </div>
    <div class="cover-container" >
      <div>
      <%= image_tag "home-photo", height: '250', width: '250' %>
      </div>
        <div>
          <h1>Start your journey here</h1>
          <p>Enter your location</p>
          <p>Enter your languages</p>
          <button type="button" class="btn btn-primary">Let's go</button>
        </div>
    </div>
  </div>
  <div class="container">
    <div class="text-box">
      <h1>How does LingoBuddy works?</h1>
    </div>
        <div class="front-box">
          <%= image_tag "signup.jpg", height: '250', width: '250' %>
          <div>
            <h2>Sign up for the app</h2>
          </div>
        </div>
        <div class="front-box">
           <%= image_tag "peoplearound.png", height: '250', width: '250' %>
          <div>
            <h2>Find your language partner</h2>
          </div>
        </div>
        <div class="front-box">
          <%= image_tag "chat-image.png", height: '250', width: '250' %>
          <div>
            <h2>Start the conversation!</h2>
          </div>
        </div>
           <%# <%= image_tag "colorbackground.jpg"%>
  </div>
  </div>
