<div class="background-image">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img-cdn.inc.com/image/upload/w_1920,h_1080,c_fill/images/panoramic/GettyImages-1288712636_468402_zjevz9.jpg);">
  <div class="container">
    <h1>Welcome to <strong>Lingo Buddy</strong></h1>
    <p>Master the language you want by actually chatting with real people</p>
    <a class="btn btn-flat" href="#">Explore our Buddies</a>
  </div>
</div>







<div>
  <div class="home-container mt-3">
<div class="background">
  <div class="home-container">
      <div class="text-box">
        <h1>Welcome to LingoBuddy</h1>
      </div>
    <div class="cover-container" >
      <div>
        <%= image_tag "home-photo", height: '400', width: '400' %>
      </div>
        <div class="container">
            <h1>Start your journey here</h1>
          <form id="search-form" class="row">
            <div class="container">
              <input id="search-input" type="text" class="form-control" placeholder="Enter your location">
            </div>
              <div class="container">
                <input id="search-input" type="text" class="form-control" placeholder="Enter your languages">
              </div>
                <div class="container">
                 <input type="submit" class="btn btn-primary" value="Search">
                </div>
          </form>
        </div>
        <%# <div>
          <h1>Start your journey here</h1>
          <p>Enter your location</p>
          <p>Enter your languages</p>
          <button type="button" class="btn btn-primary">Let's go</button>
        </div> %>
    </div>
  </div>
    <div class="container">
      <div class="text-box">
        <h1>How does LingoBuddy works?</h1>
      </div>
          <div class="front-box">
            <%= image_tag "signup.jpg", height: '250', width: '250' %>
            <div>
              <h2>Sign up for the app</h2>
            </div>
          </div>
          <div class="front-box">
            <%= image_tag "peoplearound.png", height: '250', width: '250' %>
            <div>
              <h2>Find your language partner</h2>
            </div>
          </div>
            <div class="front-box">
              <%= image_tag "chat-image.png", height: '250', width: '250' %>
              <div>
                <h2>Start the conversation!</h2>
              </div>
            </div>
            <%# <%= image_tag "colorbackground.jpg"%>
    </div>
  </div>
</div>

